# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# Databases
*.db
*.sqlite3
*.csv

# Environment variables / secrets
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log